@font-face{
	font-family: FuturaPTBook;
	src:url(../assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(../assets/FuturaPTDemi.otf);
}

.filmprojects{
	display:grid;
	grid-template-areas: 
	'sp mg gd'
	'so ci an';
	grid-gap: 15px;
	grid-row-gap: 20px;
	padding:15px;
}

.filmprojects div{
	text-align: center;
	font-size: 1.4vw;
	font-family:FuturaPTBook;
	letter-spacing: 1px;
}

.filmprojects img{
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
    width:28vw;
    height:auto;
}

.filmprojects img:hover{
	opacity: 0.5;
}

.filmprojects p{
	font-family: FuturaPTDemi;
}

#spartan{
	grid-area:sp;
}


#guard{
	grid-area:gd;
}

#standoff{
	grid-area: so;
}

#media{
	grid-area: mg;
}

#coney{
	grid-area: ci;
}

#animation{
	grid-area: an;
}


#spartanid{
	grid-area:sp;
}

/*.....*/


.firstlvl{
	display:grid;
	grid-template-areas: 
	'vid des';
}

iframe{
	grid-area:vid;
	margin:45px;
}

p{
	font-size:1.3vw;
}

.description{
	grid-area:des;
	padding-right: 45px;
	width:auto;
}

.description h1{
	padding-top:30px;
	font-family: FuturaPTDemi;
	font-size:4.5vw;
	letter-spacing: 1px;
	color:#0090c6;
}

.secondlvl{
	display:grid;
	grid-template-areas: 
	'des2 vid2';
}

.seconddescr{
	grid-area:des2;
	padding-left:45px;
	width:auto;
}

.seconddescr p{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.secondmedia{
	grid-area:vid2;
	margin:45px;
}