@font-face{
	font-family: FuturaPTBook;
	src:url(../assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(../assets/FuturaPTDemi.otf);
}

.graphicprojects{
	display: grid;
	grid-template-areas: 
	'gr1 gr2 gr3';
	grid-gap: 15px;
	grid-row-gap: 20px;
	padding:15px;
}


.graphicprojects div{
	text-align: center;
	font-size: 1.4vw;
	font-family:FuturaPTBook;
	letter-spacing: 1px;
}

.graphicprojects img{
	width: 27vw;
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
}

.graphicprojects img:hover{
	opacity: 0.5;
}

.graphicprojects p{
	font-family: FuturaPTDemi;
}

#seek{
	grid-area:gr1;
}

#media{
	grid-area:gr2;
}

#commuter{
	grid-area:gr3;
}