@font-face{
	font-family: FuturaPTBook;
	src:url(../assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(../assets/FuturaPTDemi.otf);
}

.firstlvl{
	display:grid;
	grid-template-areas: 
	'vid des';
}


.firstlvl img{
	grid-area:vid;
	margin:45px;
	width: 45vw;
}


.description{
	grid-area:des;
	width:auto;
	margin-right: 45px;
}

.description h1{
	padding-top:30px;
	font-family: FuturaPTDemi;
	font-size:4.5vw;
	letter-spacing: 1px;
	color:#0090c6;
}

p{
	font-size:1.3vw;
	align-items: left;
}

.secondlvl{
	display:grid;
	grid-template-areas: 
	'des2 med2';
}

.seconddescr{
	grid-area:des2;
	padding-left:45px;
	width: auto;
}

.seconddescr p{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#secondmedia{
	grid-area:med2;
	width: 45vw;
	margin-right:45px;
	margin-left:45px;
}

.thirdlvl{
	display:grid;
	grid-template-areas: 
	'media3 des3';
}

#thirdmedia{
	grid-area:media3;
	margin:45px;
	width:45vw;
}

.thirddesc{
	grid-area:des3;
	padding-right: 45px;
	width:auto;
}

.thirddesc p{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.thirddesc em{
	font-family: FuturaPTDemi;
}

.fourthlvl{
	display:grid;
	grid-template-areas: 
	'des4 media4';
}

.fourthmedia{
	grid-area:media4;
	width: 45vw;
	margin-right:45px;
	margin-left:45px;
	margin-bottom: 45px;
}

.fourthdesc{
	grid-area:des4;
	padding-left:45px;
	width:auto;
}

.fourthdesc p{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

