@font-face{
	font-family: FuturaPTBook;
	src:url(../assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(../assets/FuturaPTDemi.otf);
}

.illustrationprojects{
	display: grid;
	grid-template-areas: 
	'fw pa sk';
	grid-gap: 15px;
	grid-row-gap: 20px;
	padding:15px;
}


.illustrationprojects div{
	text-align: center;
	font-size: 20px;
	font-family:FuturaPTBook;
	letter-spacing: 1px;
}

.illustrationprojects img{
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
}

.illustrationprojects img:hover{
	opacity: 0.5;
}

.illustrationprojects p{
	font-family: FuturaPTDemi;
}

#figmental{
	grid-area:fw;
}


#paintings{
	grid-area:pa;
}

#sketches{
	grid-area:sk;
}