@font-face{
	font-family: FuturaPTBook;
	src:url(../assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(../assets/FuturaPTDemi.otf);
}

.illustrationprojects{
	padding:15px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.illustrationprojects div{
	text-align: center;
	font-size: 1.4vw;
	font-family:FuturaPTBook;
	letter-spacing: 1px;
}

.illustrationprojects img{
	width: 27vw;
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
	box-shadow: 0 0 15px #8f8f8f;
	margin:15px
}

.illustrationprojects img:hover{
	opacity: 0.5;
}

.illustrationprojects p{
	font-family: FuturaPTDemi;
}

.illustrationRow{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
