@font-face{
	font-family: FuturaPTBook;
	src:url(../assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(../assets/FuturaPTDemi.otf);
}

#icon{
	margin-top: 20px;
	margin-bottom: 20px;
	border:5px solid #0090c6;
	height:auto;
	width: 300px;
	border-radius: 50%;
}

#indexcover{
	display: grid;
	grid-template-areas: 
	'icon descrip';
	grid-column-gap: 40px;
	padding:30px;
	padding-left: 80px;
	align-items: center;
}

#indexcover img{
	grid-area:icon;
}

#shortbio{
	grid-area:descrip;
	font-family: FuturaPTDemi;
	font-size: 4vw;
	color:#0090c6;
	letter-spacing: 4px;
}

.indexprojects{
	display: grid;
	grid-template-areas: 
	'fw pa sk';
	grid-gap: 15px;
	grid-row-gap: 20px;
	padding:15px;
}


.indexprojects div{
	text-align: center;
	font-size: 1.4vw;
	font-family:FuturaPTBook;
	letter-spacing: 1px;
}

.indexprojects img{
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
    width: 27vw;
}

.indexprojects img:hover{
	opacity: 0.5;
}

.indexprojects p{
	font-family: FuturaPTDemi;
}

#graphics{
	grid-area:fw;
}


#film{
	grid-area:pa;
}

#illustration{
	grid-area: sk;
}