@font-face{
	font-family: FuturaPTBook;
	src:url(assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(assets/FuturaPTDemi.otf);
}

.illustrationprojects{
	display: grid;
	grid-template-areas: 
	'sk1 sk1 sk2 sk2 sk3 sk3'
	'sk4 sk4 sk5 sk5 sk6 sk6'
	'sk7 sk7 sk8 sk8 sk9 sk9';
	grid-gap: 15px;
	padding:10px;
}


.workcontent{
	height: 173vh;
}

.illustrationprojects div{
	text-align: center;
	font-size: 20px;
	font-family:FuturaPTBook;
	letter-spacing: 1px;
}

.illustrationprojects div{
    backface-visibility: hidden;
    transition: all 0.3s ease 0s;
}


.illustrationprojects p{
	font-family: FuturaPTDemi;
}

#sk1{
	grid-area:sk1;
}


#sk2{
	grid-area:sk2;
}

#sk3{
	grid-area: sk3;
}

#sk4{
	grid-area: sk4;
}

#sk5{
	grid-area: sk5;
}

#sk6{
	grid-area: sk6;
}

#sk7{
	grid-area: sk7;
}

#sk8{
	grid-area: sk8;
}

#sk9{
	grid-area: sk9;
}