@font-face{
	font-family: FuturaPTBook;
	src:url(assets/FuturaPTBook.otf);
}

@font-face{
	font-family: FuturaPTDemi;
	src:url(assets/FuturaPTDemi.otf);
}

header img{
	height: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

body{
	background-color: #F2F2F2;
	margin-top: 90px;
	padding:30px;

}

main{
	color:white;
}

header{
	font-family: FuturaPTDemi;
	background-color: white;
	position: fixed;
	top:0;
	left:0;
	right:0;
	height:100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 15px 0 black;
}

header *{
	display: inline;
}



header li{
	margin: 30px;
	letter-spacing: 3.5px;
}


a{
	color:black;
}

a:hover{
	color:#0090c6;
	text-decoration: none;
}

.aboutcontent{
	background-color: white;
	display:grid;
	grid-template-areas: 
	'ai ad';
	margin: 25px;
	/*margin-bottom: 60px;*/
	height: 100vh;	
	color: black;
}

.aboutcontent img{
	grid-area: ai;
	margin:50px;
	margin-right:0px;
	width:40vw;
	height:auto;
}

.aboutcontent div{
	grid-area: ad;
	font-family: FuturaPTBook;
	margin:50px;
	width:35vw;
}

.aboutcontent div h1{
	color:#0090c6;
	font-size: 60px;
	letter-spacing: 5px;
	font-family: FuturaPTDemi;
}

.aboutcontent div p{
	text-align: justify;
	font-size: 20px;
}

.aboutcontent a{
	font-size: 50px;
	letter-spacing: 10px;

}

.workcontent{
	background-color: white;
	margin: 25px;
	height: 100vh;	
	color: black;
}
.subpagetitle{
	padding-top: 30px;
	text-align: center;
	font-family: FuturaPTDemi;
	font-size:60px;
	letter-spacing: 5px;
	color:#0090c6;
}

.subpageblurb{
	text-align: center;
	font-size: 25px;
	font-family:FuturaPTBook;
}
